body{
    background-color: rgba(144, 140, 140, 0.29);
}
h1 {
    color: rgb(255, 255, 255);
    margin-left: 20px;
    font-family: "Arial", sans-serif;
    font-size: 35px;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
h4{
    font-size: 20px;
}
form{
    text-align: center;
}

